{% extends 'customer/gallery_main.html'%} {%block content %}

<section>
    <div class="cont">

        <div class="row center" style="align-content: center;">
            {% for gallery in galleries %}
            <div class="gallery s12 m4 l3 ">
                {% if gallery.photo %}
                <a href="{{gallery.photo.url}}">
                    <img src="{{gallery.photo.url}}" alt="Please come and see when your connection is sufficient">
                </a>
                {%endif%}
                <div class="desc">{{gallery.about}}</div>
            </div>
            {%endfor%}
        </div>
    </div>
</section>



{%endblock%}