{% extends 'customer/login_main.html'%} {% block content%}

<!-- /.login-logo -->
{% if page == 'login' %}
<nav class="nav-wraper white darken-1">
    <div class="container ">
        <a href="{% url 'home' %}" class="brand-logo green-text">Visit Oromia</a>


</nav>
<section>
    <div class="container">
        <h4 class="brand-logo center">Login</h4>
        <hr width="30%" ; height="1px;" color="grey">

        <form method="POST" action="" class="green-light">
            {% csrf_token %}
            <div class="input-group mb-3">
                <label style="font-size: medium;">Your Email:
                    <input type="text" class="form-control" name="username" placeholder="Enter your email">
                  </label>
            </div>

            <div class="input-group mb-3">
                <label style="font-size: medium;">Password:
                    <input type="password" class="form-control" name="password" placeholder="Enter your password"> 
                  </label> {% if request.GET.next %}
                <input type="hidden" name="next" value="{{request.GET.next}}"> {%endif%}

            </div>


            <div class="row">
                <!-- /.col -->
                <div class="col-4">
                    <button type="submit" class="btn ">Log in</button>
                </div>
                <!-- /.col -->
            </div>
        </form>
        <p>
            Haven't became a member yet?
        </p>
        <a class="text-center" href="{% url 'register' %}"> Register</a>

    </div>
</section>

{%else%}
<nav class="nav-wraper white darken-1">
    <div class="container">
        <a href="{% url 'home' %}" class="brand-logo green-text">Visit Oromia</a>
    </div>
</nav>

<section>
    <div class="container">
        <h4 class="brand-logo center">Register</h4>
        <hr width="30%" ; height="1px;" color="grey">
        <div>
            <form method="POST" action="" class="green-light">
                {% csrf_token %} {{form.as_p}}


                <input type="submit" value="Register" class="btn">
            </form>

            <p>
                Already a member?
            </p>
            <a href="{% url 'login' %}"> Login</a>
        </div>
        {%endif%}

    </div>
</section>

{% endblock content%}