{% extends 'customer/main.html'%} {%block content %}
<!-- NEWS -->
<section>
    <div class="cont">
        <h4 class="brand-logo center">News</h4>
        <hr width="50%" ; height="1px;" color="grey">
        <div class="news row">
            {% for new in news %}
            <div class="col s12 m6 l4">
                <div class="news-card">
                    {% if new.photo %}
                    <div class="news-image card-image">
                        <img src="{{new.photo.url}}">
                    </div>
                    {%endif%}
                    <div class="news-content">
                        <span class="card-title">{{new.title}}</span>
                        <p>{{new.about}}</p>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
</section>
<!-- END OF NEWS -->
{% endblock content%}