{% extends 'customer/main.html'%} {%block content %}
<!-- plans  -->
<section>
    <div class="cont">
        <h4 class="brand-logo center">Plans</h4>
        <hr width="50%" height="1px" color="grey">

        <div class="row">
            {% for visit in visits %} {% now "Ymd" as current_year %}
            <div class="col s12 m6 l3">
                <div class="plans card green-grey darken-1">
                    <div class="card-content black-text">
                        <h5>{{visit.visit_route.name}}</h5>
                        <h6 class="card-title">{{visit.title}}</h6>
                        <h6 class="card-title">Visit Date: {{visit.date|date:"D, d M, Y"}}</h6>
                        <p>{{visit.description}}</p>

                    </div>

                    <div class="card-action">
                        {% if current_year >= visit.date|date:"Ymd" %}<span class="red-text">Plan Expired</span>{% else %}
                        <a href="{% url 'confirm-plan' visit.id %}" class="btn green">Plan Now</a> {% endif %}
                    </div>

                </div>
            </div>
            {%endfor%}
        </div>
    </div>
</section>
<!-- end of plans -->{% endblock content%}