<!-- FOOTER -->
<footer class="page-footer grey darken-3">
    <div class="container">
        <div class="row">
            <div class="col s12 l4">

                <h6>Visit Oromia</h6>

                <ul>
                    <li>

                        <h6 class="green-text">
                            <a href="{% url 'home' %}" class="green-text">Land of Diverse Beauty</a>
                        </h6>

                    </li>

                </ul>
            </div>
            <div class="col s12 l4">
                <h6>Connect Visit Oromia</h6>
                <ul>
                    <li>
                        <a href="https://www.facebook.com/visitoromia"><i class="material-icons ">facebook</i></a></li>
                    <li>
                        <a href="https://t.me/visit_oromia"><i class="material-icons ">telegram</i></a></li>
                    <li>
                        <a href="https://www.instagram.com/p/CjBYeIVrQFf/?igshid=YmMyMTA2M2Y=">instagram</a></li>
                </ul>
            </div>
            <div class="col s12 l4">
                <h6>Connect Dev</h6>
                <ul>
                    <li>
                        <a>Bati Sileshi</a>

                        <li>
                            <a href="https://www.facebook.com/baatiiwaaeekumaa.bst"><i class="material-icons ">facebook</i></a></li>
                        <li>
                            <a href="https://t.me/of_2k"><i class="material-icons ">telegram</i></a></li>
                        <li>
                            <a href="https://github.com/jiosaa">github</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright grey darken-4">
        <div class="container container-align">&copy; 2022 VisitOromia</div>
    </div>
</footer>